@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);

body {
  height: 100vh;
  width: 100%;
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(
    to bottom,
    rgba(137, 170, 75, 1) 0%,
    rgba(77, 138, 9, 1) 100%
  );
}

button {
  cursor: pointer;
}

.music-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-mood {
  width: 350px;
  height: 75px;
  background-color: #333333;
  margin-bottom: 20px;
  border-radius: 10px;
}

.current-mood h1 {
  color: white;
  font-size: 210%;
  text-align: center;
  line-height: 30px;
}

.current-song {
  width: 450px;
  height: 50px;
  background-color: #333333;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-bottom: 50px;
}

.current-song .current-song-2 {
  color: white;
  font-size: 170%;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.music-content {
  position: relative;
  width: 450px;
  height: 300px;
  background-color: #333333;
  border-radius: 10px;
  overflow: hidden;
}

#bg-image img {
  width: 35%;
  height: 35%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#volume-container {
  position: relative;
  top: 15px;
  width: 100%;
  height: 15px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 110px;
  height: 1px !important;
  -webkit-appearance: none;
  border-radius: 10px;
  background-color: #fff;
  z-index: 100;
  outline: none;
  position: relative;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transform: scale(1);
}

.slider:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

#music-image {
  position: relative;
  width: 100%;
  height: 215px;
  z-index: 3;
}

#circle-image {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  background-color: #333333;
  border-radius: 25%;
  overflow: hidden;
}

#circle-image img {
  top: 60px;
  left: 60px;
}

#music-image img {
  width: 100%;
  height: 100%;
}

#currentTime {
  position: relative;
  z-index: 3;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  bottom: 70px;
}

#currentTime span {
  font-size: 20px;
}

#seek-container {
  position: relative;
  top: -15px;
  width: 100%;
  height: 15px;
  z-index: 5;
}

.seekslider {
  width: 400px;
  height: 2px !important;
  -webkit-appearance: none;
  border-radius: 10px;
  background-color: #fff;
  z-index: 3;
  outline: none;
  position: relative;
  left: 25px;
  bottom: 70px;
}

.seekslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: #e62c2f;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transform: scale(1);
}

.seekslider:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

#play-button img {
  width: 60px;
  height: 60px;
  top: 250px;
  z-index: 5;
}

#prev-button img {
  width: 40px;
  height: 40px;
  top: 250px;
  left: 150px;
  z-index: 5;
}

#next-button img {
  width: 40px;
  height: 40px;
  top: 250px;
  left: 300px;
  z-index: 5;
}

#mute-button img {
  width: 40px;
  height: 40px;
  top: 250px;
  left: 50px;
  z-index: 5;
}

#repeat-button img {
  width: 50px;
  height: 50px;
  top: 250px;
  left: 400px;
  z-index: 5;
}

#volume-high-button img {
  height: 30px;
  width: 30px;
  z-index: 5;
  left: 315px;
  top: 22.5px;
}

#volume-low-button img {
  height: 30px;
  width: 30px;
  z-index: 5;
  left: 135px;
  top: 22.5px;
}

#next-movie {
  display: none;
}

#prev-movie {
  display: none;
}
