{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MARS - Mood Analysis Based Music and Movie Recommendation System</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="shortcut icon" href="#" />
  </head>

  <body>
    <div class="music-container">
      <div class="current-mood">
        <h1 id="status"></h1>
      </div>

      <div class="current-song">
        <div class="current-song-2" style="margin-top: 10px">
          <select id="myopt">
            <option value="" selected>Feature</option>
            <option value="mov">Movies</option>
            <option value="music">Music</option>
          </select>
          <br />
          <select id="mylang">
            <option value="" selected>Language</option>
            <option value="tel">Telugu</option>
            <option value="hin">Hindi</option>
            <option value="eng">English</option>
          </select>
        </div>
      </div>

      <div class="music-content">
        <div id="bg-image">
          <div id="buttons" class="spot">
          </div>
        </div>
      </div>

      <div class="mood-button">
        <button
          id="prev-movie"
          style="
            margin-top: 15px;
            border-radius: 5px;
            height: 30px;
            width: 150px;
            color: white;
            background: #333333;
            border: none;
          "
        >
          Prev Movie
        </button>
        <button
          id="next-movie"
          style="
            margin-top: 15px;
            border-radius: 5px;
            height: 30px;
            width: 150px;
            color: white;
            background: #333333;
            border: none;
          "
        >
          Next Movie
        </button>
      </div>
      <div class="mood-button">
        <button
          id="test"
          style="
            margin-top: 15px;
            border-radius: 5px;
            height: 30px;
            width: 150px;
            color: white;
            background: #333333;
            border: none;
          "
        >
          Detect New Mood
        </button>
      </div>
    </div>

    <div id="imageCapture" style="display: none"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js"
    ></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
